body {
  padding-top: 4.5rem;
  margin: 0;
  background-color: white;
  height: 100%;
  width: 100%;
}

.button-with-margin {
  margin: 0.5em;
}

.photo-details {
  max-height: 90vh;
  max-width: 1000px; /* TODO: Fix responsive photo view. */
}

.react-images__positioner {
  z-index: 2000 !important;
}

li.nav-item.active  {
  font-weight: bold;
}